#recap_vote{
	margin-top: 30px; /* Add a top margin to avoid content overlay */
	width: 1200px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 10px;
	position: relative;
	font-family: Calibri;
}

#container
{
	min-height: 800px;
	margin-top: 100px;
	margin-bottom: 45px;
}

#affichage_vote h1
{
	text-align: center;
	margin-top: 30px; /* Add a top margin to avoid content overlay */
	padding-top: 20px;
	
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
	position: fixed;
	top: 38%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.icon-bar i {
	display: block;
	text-align: center;
	padding: 10px;
	margin-left: 75px;
	transition: all 2s ease;
	color: red;
	font-size: 45px;
}
.icon-bar input {
	display: block;
	text-align: center;
	margin-left: 75px;
	transition: all 2s ease;
	border-width: 2px;
	border-color: red;
}

#description{
	margin-top: 30px; /* Add a top margin to avoid content overlay */	

}

fieldset{
	margin-top: 30px; /* Add a top margin to avoid content overlay */
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	border-color: gray;
	border-style: solid;
	border-width: 3px;
}

#affichage_vote
{
	padding-top: 20px;
	padding-bottom: 20px;
}

legend
{
	font-weight: bold;
}