#container
{
	min-height: 800px;
	margin-top: 320px;
	margin-bottom: 45px;
}

#affichage_vote
{
	width: 1200px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 10px;
	position: relative;
	font-family: Calibri;
}

#sub
{
	width: 1200px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
}


#affichage_vote h1
{
	text-align: center;
	padding-top: 20px;
}

#affichage_vote h3
{
	text-align: center;
	font-weight: normal;
	margin-bottom: 40px;
}


table
{
	border-collapse: collapse;
	width: 800px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-family: Calibri;
	text-align: center;
}

table th
{
	background-color: rgb(52,52,52);
	color: white;
	font-size: 20px;
}

.appreciation
{
	background-color: rgb(130, 130, 130);
	color: white;
	width: 50%;
}

table th, table td, table tr
{
	border-color: black;
}

.description
{
	background-color: rgb(80,80,80);
	color: white;
	font-weight: bold;
	font-size: 17px;
}