#header-content{
	z-index: 999;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(0);
	background-color: #191919;
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
	height: 60px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	transition: all 2.5s ease;
}

#titre
{
	font-size: 20px;
	text-align: left;
	margin-left: 15px;
	margin-top: 17px;
	color: white;
	font-family: Calibri;
	float: left;
}

#home
{
	text-decoration: none;
}

#hello
{
	float: left;
	text-align: right;
	margin-right: 15px;
	color: white;
	font-family: Calibri;
	font-size: 17px;
}

#role
{
	color: rgb(67, 180, 255);
}

#menu
{
	float: right;
	text-align: right;
}

#menu a,p
{
	display: inline-block;
	margin-top: 20px;
}

#logout
{
	color: white;
	font-family: Calibri;
	font-size: 17px;
	text-decoration: none;
	float: right;
	margin-right: 15px;
	font-weight: bold;
}

#titre:hover, #logout:hover
{
	color: #FE3838;
	transition-duration: 0.5s;
}

#sep
{
	color: rgba(255,255,255,0.3);
	margin-right: 15px;
	font-weight: bold;
}

html
{
	background-image: url("pics/background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
