#vote
{
	width: 1200px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 10px;
	position: relative;
	font-family: Calibri;
}

#description
{
	font-size: 20px;
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 5%;
}

#vote h1
{
	text-align: center;
	padding-top: 20px;
}

#container
{
	min-height: 800px;
	margin-top: 100px;
	margin-bottom: 45px;
}

form
{
	padding-left: 5%;
	padding-right: 5%;
}

fieldset
{
	margin-bottom: 15px;
}

legend
{
	font-weight: bold;
}

input[type=submit]
{
    background: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 8px;
	padding-right: 8px;
	width: 20%;
	font-weight: bold;
	font-size: 18px;
	color: #191919;
	border-color: #191919;
	border-width: 3px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	border-style: solid;
    font-family: Calibri;
}

input[type=submit]:hover
{
  	background: #191919;
	transition-duration: 0.20s;
	cursor: pointer;
	color: white;
}